.container {
    width: 1440px;
    height: 5393px;
    background: #FAF4F2;
    margin: 0 auto;
}

/*------------------section header-------------------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 112px;
}

header h1 {
    width: 100%;
    max-width: 475px;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 62px;
}

header p {
    width: 509px;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 7px 0 54px;
}

.my-photo {
    object-fit: contain;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-media img {
    width: 100%;
    max-width: 48px;
    height: 48px;
    opacity: 0.5;
}

.social-media img:hover {
    opacity: 1;
}

.buttons-top {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 25px;
}

.send-request {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 151px;
    height: 55px;
    border-radius: 10px;
    background: #FF2950;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    color: rgba(34, 34, 34, 0.50);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/*---------------------section main----------------------*/

main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 125px;
    flex-wrap: wrap;
}

.main-completed-projects {
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
    display: flex;
    margin-bottom: 60px;
}

.main-completed-projects img {
    min-width: 430px;
    padding: 93px 32px 97px 32px;
}

.main-completed-projects h4 {
    width: 100%;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 62px; /* 86.111% */
    padding-top: 62px;
}

.main-completed-projects span {
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.main-completed-projects p {
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px; /* 187.5% */
    width: 570px;
}

.main-completed-projects .glad-to-help {
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
    padding: 19px 0 19px 0;
}

/*-----------------------section Why-Hire-Me---------------------*/

.why-hire-me {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.caption-why-me {
    width: 100%;
    color: #222;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
}

.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.icon div {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.10);
}

.icon img {
    max-width: 51px;
}

.icon .title {
    color: #222;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; /* 150% */
    padding: 51px 0 12px 0;
}

.icon p {
    width: 240px;
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/*----------------------section Portfolio----------------------------*/

.portfolio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portfolio-caption {
    width: 100%;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
    padding: 65px 0 32px 150px;
}

.portfolio-images {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.portfolio-images img {
    transition: 1s;
    max-width: 310px;
}

.portfolio-images img:hover {
    transform: scale(1.2);
    border-radius: 25px;
}

/*------------------------middle poster------------------*/

.middle {
    width: 100vw;
    height: 643px;
    background: #FF7315;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0 60px 0;
}

.middle h5 {
    text-align: center;
    height: 120px;
    width: 100%;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    padding-top: 48px;
}

.middle .block-left, .block-right {
    min-width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    margin: 0 41px 0 41px;
}

.middle p {
    width: 450px;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 24px 0 0 50px;
}

/*---------------------------section Price-Plans-----------------*/

.price-plans {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.plans-cards {
    display: flex;
    gap: 67px;
    padding-top: 32px;
    padding-left: 150px;
}

.price-plans div {
    width: 100%;
}

.plans {
    width: 100%;
    text-align: center;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%;
    text-transform: capitalize;
    padding-top: 65px;
}

.card {
    max-width: 335px;
    height: 500px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    padding-top: 32px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0);
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);
}

.front {
    transform: perspective(600px) rotateY(0);
}

.front .card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FF9B70;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 123.6%; /* 29.664px */
    text-transform: capitalize;
}

.price span {
    color: #2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    opacity: 0.5;
}

.price {
    text-align: center;
    color: #2B2B2B;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    text-transform: capitalize;
    padding-top: 36px;
    gap: 12px;
}

.front ul {
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    padding-top: 29px;
}

.front li {
    display: flex;
    height: 35px;
}

.front img {
    min-width: 24px;
    height: 24px;
    padding: 0 16px 0 48px;
    color: chocolate;
}

.close {
    opacity: 0.5;
}

.back {
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    align-items: center;
    text-align: center;
}

.back h1 {
    color: #444;
    font-size: 24px;
}

.back h1 span {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0 10px;
}

.back .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding-top: 20px;
}

.back .socials a {
    color: #444;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.back .socials a:hover {
    background-color: #444;
    color: #fff;
}

.fa-telegram {
    color: chocolate;
}

.fa-instagram {
    color: dodgerblue;
}

.fa-twitter {
    color: deeppink;
}

.fa-facebook {
    color: dodgerblue;
}

/*---------------------poster Send-E-mail---------------*/

.email-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1110px;
    height: 224px;
    border-radius: 25px;
    background: #FF7315;
    margin-top: 100px;
}

.email-me h6 {
    width: 343px;
    height: 124px;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 62px; /* 172.222% */
}

.send-email {
    width: 259px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #F9F9F9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: all 1s;
}

.send-email:hover {
    transform: scale(1.1);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

/*------------------------section Blog------------------------*/

.blog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 125px;
}

.cards {
    display: flex;
    padding: 0 150px 0 150px;
    gap: 20px;
}

.caption-blog {
    width: 100%;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
    padding: 125px 0 48px 150px;
}

.blog-card {
    width: 270px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
}

.blog-card img {
    max-width: 250px;
    margin-top: 14px;
    border-radius: 15px;
}

.blog-card .caption-article {
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 123.6%; /* 19.776px */
    text-transform: capitalize;
    padding: 12px 0 6px 0;
}

.blog-card p {
    text-align: left;
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    padding: 6px 0 0 14px;
}

/*--------------------------footer-------------*/
footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    background: #F1F1F1;
    margin-top: 130px;
}

